<div class="p-10  bg-purple-500">
    <div class="justify-end h-max text-end min-w-xl mx-auto bg-white  shadow-md overflow-hidden md:min-w-2xl">
        <h1>תרגום לשפת הסימנים</h1>
    
        <h1>:מתוך העלון לצרכן של התכשיר</h1>
    
        <ul>
            <li class="bold"> &#8482;סטקוויס</li>
        <li class="bold">.כריסאבורול 2%, משחה
        </li>
        <li class="bold">.כל 1 גרם מכיל 20 מ"ג כריסאבורול</li>
    
        </ul>
    
        <h4 class="bold">סרטון זה אינו מהווה תחליף לעיון בגרסה המלאה של העלון לצרכן</h4>
        
        <img height="640" width="640" src="https://storage.googleapis.com/signs_prod/en/en_uk/hello/webp/_520x520/0.0.1/en_en_uk_hello.webp" alt="">
    <ul>
        <li class="bold">:בעל הרישום וכתובתו</li>
        <li class="bold">,פייזר פרמצבטיקה ישראל בע"מ</li>
        <li class="bold">רח' שנקר ,9 הרצליה פיתוח 46725</li>
    </ul>
    
    </div>
</div>

<div class="p-10 bg-green-300">
    <div class="justify-end  text-end min-w-2xl mx-auto bg-white  shadow-xl overflow-hidden md:min-w-2xl">
        <div class="container ml-10 my-32">
            <img class="m-auto " height="660" width="660" src="https://storage.googleapis.com/signs_prod/en/en_uk/hello/webp/_520x520/0.0.1/en_en_uk_hello.webp" alt="">
        </div>
    </div>
</div>

<div class="p-10 bg-yellow-300">
    <div class="justify-end text-end min-w-2xl mx-auto bg-white  shadow-xl overflow-hidden md:min-w-2xl">
        <h1>שירות לציבור</h1>
        <h1>מוגש באדיבות חברת פייזר</h1>
        <h2 class="bold">אפריל 2023</h2>
    
    
        <h3 class="bold">לשאלות נוספות ככל שנדרש יש לפנות לרופא</h3>

        <img height="680" width="680" src="https://storage.googleapis.com/signs_prod/en/en_uk/hello/webp/_520x520/0.0.1/en_en_uk_hello.webp" alt="">
    
        <ul>
            <li class="bold"> com.pfizer@AEReporting.ISR :לדיווח על תופעות לוואי</li>
            <li class="bold"> com.pfizer@IsraelProdComplaints :לדיווח על תלונת איכות</li>
            <li class="bold"> il.gov.health.sideeffects://https :לדיווח תופעות לוואי למשרד הבריאות</li>    
        </ul>
    </div>
</div>