.slide{

}

h4{
    margin: 10px;
}
h2{
    margin: 10px;


}
h1{
    margin: 10px;
    font-weight: bold;
    
}
.bold{
    font-weight: bold;
}
h3{
    margin: 10px;
}
ul{
    margin-right:  10px;
    margin-bottom:  10px;
}