

<div class="text-center mx-auto py-10 content-center w-max h-full ">
    <h1 class="mb-4 text-3xl items-center font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl dark:text-gray-700">Populate With Words</h1>
    <div class="w-full max-w-auto items-center content-center">
        <form [formGroup]="form" class="bg-gray-100 shadow-md px-8 pt-6 pb-8 mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">
                    State / Country
                </label>
                <input required formControlName="region" class="text-center shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="state" type="text" placeholder="State example - 'us'">
                <label class="block text-gray-700 text-sm font-bold m-2" >
                    Language
                </label>
                <input required formControlName="language" class="text-center shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="state" type="text" placeholder="Language example - 'en'">
                <div  class="m-4">
                    <div class="w-auto">
                        <div class="m-1">
                            make sure its the correct json file uncorrupted and in the correct format
                        </div>
                        <app-word-parser  (error)="onParserError($event)" (data)="onEvent($event)"></app-word-parser>
                    </div>
                </div>
                        
                <div class="m-4">
                    <div class="mx-20 my-4 ">
                        <div class="mx-11">
                            <svg *ngIf="isData()"  class="mx-20"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" fill="green" width="47px" height="47px" viewBox="0 0 47 47" style="stroke:green 0 0 47 47;" >
                                <g>
                                    <path d="M6.12,38.52V5.136h26.962v28.037l5.137-4.243V2.568C38.219,1.15,37.07,0,35.652,0h-32.1C2.134,0,0.985,1.15,0.985,2.568     v38.519c0,1.418,1.149,2.568,2.567,2.568h22.408L22.33,38.52H6.12z"/>
                                    <path d="M45.613,27.609c-0.473-0.446-1.2-0.467-1.698-0.057l-11.778,9.734l-7.849-4.709c-0.521-0.312-1.188-0.219-1.603,0.229     c-0.412,0.444-0.457,1.117-0.106,1.613l8.506,12.037c0.238,0.337,0.625,0.539,1.037,0.543c0.004,0,0.008,0,0.012,0     c0.408,0,0.793-0.193,1.035-0.525l12.6-17.173C46.149,28.78,46.084,28.055,45.613,27.609z"/>
                                    <path d="M27.306,8.988H11.897c-1.418,0-2.567,1.15-2.567,2.568s1.149,2.568,2.567,2.568h15.408c1.418,0,2.566-1.15,2.566-2.568     S28.724,8.988,27.306,8.988z"/>
                                    <path d="M27.306,16.691H11.897c-1.418,0-2.567,1.15-2.567,2.568s1.149,2.568,2.567,2.568h15.408c1.418,0,2.566-1.149,2.566-2.568     C29.874,17.841,28.724,16.691,27.306,16.691z"/>
                                    <path d="M27.306,24.395H11.897c-1.418,0-2.567,1.15-2.567,2.568s1.149,2.568,2.567,2.568h15.408c1.418,0,2.566-1.15,2.566-2.568     C29.874,25.545,28.724,24.395,27.306,24.395z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <button #button (click)="onSubmit()" type="submit"  [disabled]="!isValidButton()" class="bg-blue-500 disabled:bg-blue-200  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                        Populate
                    </button>
                    
                </div>
        </form>
        <button (click)="backToDashboard()"  class="bg-gray-500 disabled:bg-gray-200  hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Back
        </button>
    </div>
</div>
