
<nav class="p-3 border-gray-700 rounded bg-gray-700 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex flex-wrap items-center justify-between mx-auto">
        <a href="login" class="flex items-center">
            <img src="../assets/images/deafinitely_logo_chosen-removebg.png"  class="object-cover h-20 w-40 mr-3  sm:h-9" >
        </a>
        <!-- <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-solid-bg" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button> -->
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
            <ul class="flex flex-col p-4 mt-4 rounded-lg border md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-800 dark:border-gray-800">
                <li >
                    <app-upload></app-upload>
                </li> 
                <li class="margin">
                    <a href="login" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
                </li>
                <li [hidden]="!checkForConnected()" class="margin">
                    <a href="login/restorePassword" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Forgot password</a>
                </li>
                <li [hidden]="checkForConnected()" (click)="logout()" class="margin">
                    <a  href="login" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">logout</a>
                </li> 
                <li [hidden]="checkForConnected()" >
                    <div (mouseenter)="openMenu(true)" class="bento-menu">
                        <div class="bento-dot"></div>
                        <div class="bento-dot"></div>
                        <div class="bento-dot"></div>
                        <div class="bento-dot"></div>
                        <div class="bento-dot"></div>
                        <div class="bento-dot"></div>
                        <div class="bento-dot"></div>
                        <div class="bento-dot"></div>
                        <div class="bento-dot"></div>
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</nav>
<div #menuBar  class="hidden relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">

    <div  class="fixed inset-0  bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 overflow-hidden">
            <div class="absolute inset-0 overflow-hidden">
                <div class="pointer-events-none  fixed inset-y-0 right-0 flex max-w-full pl-10">

                    <div  class="pointer-events-auto relative w-screen max-w-md">

                    
                    <div (mouseleave)="openMenu(false)" class="flex text-center justify-center h-full flex-col overflow-y-scroll bg-gray-700 py-6 shadow-xl">
                        <div class="px-4 sm:px-6">
                            <h1 class="text-lg font-medium text-blue-500" id="slide-over-title">Menu</h1>
                        </div>
                        <div class="relative flex-1 px-4 sm:px-6">
                    
                            
                            <div class="absolute inset-5 px-4 sm:px-6">
                                <div class="h-full border-2  border-blue-700" aria-hidden="true">
                                    <ul class="p-3 space-y-3 items-center text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCheckboxButton">
                                        <li class="ml-2">
                                            <div class="ml-10 flex text-center">
                                                <button (click)="navToPopDb()"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" ><label for="checkbox-item-1" class="text-sm font-medium text-gray-900 dark:text-gray-300">Populate DataBase from JSON</label></button>
                                            </div>
                                        </li>
                                        <li class="ml-2">
                                            <div class="ml-10 flex text-center">
                                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" ><label  class="text-sm font-medium text-gray-900 dark:text-gray-300">coming soon...</label></button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>


<footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com/" class="hover:underline">Deafinitly™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        
        <li>
            <a href="https://www.deafinitely.co.il/" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>


