<main class="h-screen w-full flex flex-col justify-center items-center bg-[#1A2238]">
	<h1 class="text-9xl font-extrabold text-white tracking-widest">404</h1>
	<div class="bg-[#1b6ef5] px-2 text-sm rounded rotate-12 absolute">
		Page Not Found
	</div>
	<button (click)="goHome()"  class="mt-5">
        <a
        class="relative inline-block text-sm font-medium text-[#1b6ef5] group active:text-blue-500 focus:outline-none focus:ring"
        >
        <span class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-[#1b6ef5] group-hover:translate-y-0 group-hover:translate-x-0"></span>

            <span  class="relative block px-8 py-3 bg-[#1A2238] border border-current">
                <a href="login">Go Home</a>
            </span>
        </a>
    </button>
</main>