
cdk-virtual-scroll-viewport {
    height: 500px;
    scrollbar-width: none;
}
.hidden_scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hidden_scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

